{% extends "ิbase.html" %}

{% block title %}
    <title>เกี่ยวกับ</title>
{% endblock %}

{% block content %}
<div>
    <h1 style="color: blue;">เกี่ยวกับ</h1>
    <p>พัฒนาเว็บด้วย Django Framework </p>
</div>
{% endblock %}
