{% extends "ิbase.html" %}

{% block title %}
    <title>แบบฟรอมแก้ไขข้อมูล</title>
{% endblock %}

{% block content %}
<h2 class="text-center">แบบฟรอมแก้ไขข้อมูลพนักงาน</h2>
<form method="post">
    {% csrf_token %}
<div class="form-group">
    <label for="name">ชื่อ</label>
    <input type="text" name="name" class="form-control" value="{{person.name}}" >
</div>

<div class="form-group mb-3">
    <label for="age">อายุ</label>
    <input type="number" name="age" class="form-control" value="{{person.age}}"> 
</div>
<input type="submit" value="อัพเดตข้อมูล" class="btn btn-success" >
</form>

{% endblock %}
