{% extends "ิbase.html" %}

{% block title %}
    <title>แบบฟรอมบันทึกข้อมูล</title>
{% endblock %}

{% block content %}
<h2 class="text-center">แบบฟรอมบันทึกข้อมูลพนักงาน</h2>
<form method="post" action="form">
    {% csrf_token %}
<div class="form-group">
    <label for="name">ชื่อ</label>
    <input type="text" name="name" class="form-control" >
</div>

<div class="form-group mb-3">
    <label for="age">อายุ</label>
    <input type="number" name="age" class="form-control" > 
</div>
<input type="submit" value="บันทึกข้อมูล" class="btn btn-success">
</form>

{% endblock %}
