{% extends "ิbase.html" %}

{% block title %}
    <title>หน้าแรกของ Website</title>
{% endblock %}

{% block content %}
    <!--<div>
        <h1 style="color: brown;">สวัสดี {{all_person | upper}}</h1>
        <h2 style="color: blue;">อายุ {{age}} ปี</h2>
        {% if age >= 25 %}
            <h3>วัยรุ่นรถแห่</h3>
        {% else %}
            <h3>วัยรุ่นฟันน้ำนม</h3>
        {% endif %}
    </div>-->
    <h2>ข้อมูลพนักงานทั้งหมด</h2>
    <!-- {% if messages %}
        {%for message in messages %}
        <div class="alert alert-success" role="alert">
            <strong>{{message}}</strong>
          </div>
        {% endfor %}
    {% endif %} -->
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        {% if request.session.show_toast %}
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="..." class="rounded me-2" alt="...">
                    <strong class="me-auto">ระบบแจ้งเตือน</strong>
                    <small>Now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    {{ request.session.toast_message }}
                </div>
            </div>
        {% else %}
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="..." class="rounded me-2" alt="...">
                    <strong class="me-auto">ระบบแจ้งเตือน</strong>
                    <small>Now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    ยินดีต้อนรับเข้าสู่ Website
                </div>
            </div>
        {% endif %}
    </div>
    
    <table class="table table-success table-striped text-center">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">age</th>
            <th scope="col">วันที่เพิ่มข้อมูล</th>
            <th scope="col">แก้ไข</th>
            <th scope="col">ลบ</th>
          </tr>
        </thead>
        <tbody>
            {% for person in all_person %}
                    <tr>
                        <th scope="row">{{person.id}}</th>
                        <td>{{person.name}}</td>
                        <td>{{person.age}}</td>
                        <td>{{person.date}}</td>
                        <td><a href="edit/{{person.id}}" class="btn btn-warning">แก้ไข</a></td>
                        <td>
                            <a href="delete/{{person.id}}" class="btn btn-danger"
                               onclick="return confirm('คุณต้องการลบข้อมูล {{person.name}} หรือไม่?')">ลบ</a>
                        </td>
                    </tr>
            {% endfor %}
        </tbody>
      </table>
{% endblock %}
