<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    {% block title %}

    {% endblock %}
</head>
<body>
    <!--<a href="/" class="btn btn-primary">หน้าแรก</a>-->
    <!--<a href="/about" class="btn btn-warning">เกี่ยวกับ</a>-->
    <!--<a href="/form" class="btn btn-success">แบบฟรอมบันทึกข้อมูล</a>-->
   
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Website</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/about">เกี่ยวกับ Website</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/form">แบบฟรอมบันทึกข้อมูล</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disable</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown link
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="/">Action</a></li>
                  <li><a class="dropdown-item" href="/about">Another action</a></li>
                  <li><a class="dropdown-item" href="/form">Something else here</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      
    <hr>
    <div class="container my-2">
        {% block content %}
        {% endblock %}
    </div>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
      var toastButton = document.getElementById('liveToastBtn');
      var toast = new bootstrap.Toast(document.getElementById('liveToast'));

      toastButton.addEventListener('click', function () {
          toast.show();
      });
  });
</script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
      var toast = new bootstrap.Toast(document.getElementById('liveToast'));
      toast.show();

      fetch('/clear_toast_session/').then(response => {
          if (response.ok) {
              console.log('Toast session cleared.');
          } else {
              console.error('Failed to clear toast session.');
          }
      }).catch(error => {
          console.error('Error during fetch:', error);
      });
  });
</script>
</html>